.main {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.design-container {
  padding: 10px;
  background-color: lightgray;
  display: flex;
  align-items: center;
}

.design-container img {
  width: 80px;
}
